.resultado{
    display: block;
    padding: 5px;
    border-radius: 5px;
}

button{
    margin-top: 3px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.res{
    padding: 5px;
    width: 400px;
    font-size: 40px;
    border: 1px solid red;
    background-color: darkblue;
    color: chartreuse;
}